body {
  font: normal 14px Tahoma, Simsun;
  margin: 0;
  padding: 25px 0 0;
  vertical-align: baseline;
  background: #fff;
}

h1 {
  font: bold 26px "å¾®è½¯é›…é»‘", tahoma;
  margin: 0 0 10px;
}

a {
  color: #0d63e3;
}

a:hover {
  color: #f54;
}

.header,
.links,
.footer {
  width: 700px;
  margin: 15px auto;
  padding: 2px;
  text-align: center;
}

.linkad {
  width: 712px;
  margin: 10px auto;
}

.sites {
  width: 910px;
  margin: 15px auto;
  padding: 4px;
  background: #fff;
  border: 2px solid #f2f2f2;
}

.sites dl {
  height: 36px;
  line-height: 36px;
  margin: 0;
  display: block;
}

.sites dl.alt {
  background: #f8f8f8;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.sites dt,
.sites dd {
  text-align: center;
  display: block;
  float: left;
}

.sites dt {
  width: 100px;
}

.sites dd {
  width: 100px;
  margin: 0;
}

.footer {
  font-size: 11px;
  color: #888;
  margin: 15px auto;
}

.center {
  text-align: center;
  font-weight: bold;
}

.center a {
  color: #ff3300;
}
